*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FORMATO BASICO DE LA PAGINA */
body{
    width: 100%;
    min-height: 100vh;
}
/* ----------- HEADER ----------- */
header{
    background-color: rgba(0, 0, 0, 0.441);
}
/* NAVBAR */
.barra-nav{
    width: 95%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 25px;
    background: rgba(80, 0, 0, 0.65);
    border: 2px solid rgba(255, 166, 0, 0.7);
    box-shadow: 0 0 20px rgba(255, 166, 0, 0.4);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    
    z-index: 1000;
}
/* LOGO */
.logo img{
    width: 70px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px orange;
}
/* LINKS */
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
/* ITEMS */
.nav-links li{
    padding-right: 30px;
    border-right: 1px solid rgba(255,255,255,0.2);
}
/* LINKS */
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.3s;
}
/* HOVER */
.nav-links a:hover{
    color: gold;
    text-shadow: 0 0 10px gold;
    transform: translateY(-2px);
}
/* LINK ACTIVO */
.activo{
    color: gold;
    border-bottom: 3px solid gold;
    padding-bottom: 5px;
    text-shadow: 0 0 10px gold;
}
/* -------- MAIN PERFIL -------- */
.main-perfil{
    padding-top: 150px;
    min-height: 100vh;
    background-image: url(../img/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
/* CONTENEDOR PRINCIPAL */
.contenedor-principal{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* PERFIL */
.contenedor-perfil{
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;
    background-color: rgba(0, 0, 0, 0.677);
    border: 3px solid orange;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255,166,0,0.4);
}
.foto{
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: rgba(0,0,0,0.3);
}
/* CIRCULO FOTO */
.foto-perfil{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: green;
    border: 4px solid orange;
    box-shadow: 0 0 15px orange;
}
/* DESCRIPCION */
.descripcion-perfil{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.nombre-usuario{
    color: rgba(255, 166, 0, 0.882);
    font-size: 25px;
    font-weight: bolder;
}
.descripcion-perfil p{
    color: rgba(208, 204, 204, 0.979);
    font-style: italic;
}
/* INFO */
.info-perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgba(255,255,255,0.05);
    color: gold;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.info-perfil a{
    color: rgba(238, 211, 1, 0.7);
    text-decoration: none;
}
.info-perfil a:hover{
    color: gold;
}
/* CAJAS ABAJO */
.perfil-part2{
    min-height: 250px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: 3px solid orange;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.nav-card{
    padding: 20px;
    background-color: rgba(68, 67, 67, 0.488);
    color: white;
    text-align: center;
    border-bottom: 2px solid rgb(69, 69, 68);
}
.nav-card:hover{
    color: gold;
    border-bottom: 2px solid gold;
}
.contenedor-cartas-obtenidas{
    min-height: 250px;
    padding: 30px;
    background-color: rgba(0,0,0,0.6);
    color: white;
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* --------------------------- */
/* ------TABLETS------------- */
/* -------------------------- */

@media screen and (max-width: 999px){
    .barra-nav{
        margin: 10px auto;
        padding: 10px 20px;
        border-radius: 15px;
    }
    .logo img{
        width: 50px;
        height: 40px;
    }
    .nav-links{
        gap: 20px;
    }
    .nav-links li{
        padding-right: 15px;
    }
    .nav-links a{
        font-size: 14px;
    }
    .activo{
        padding-bottom: 3px;
    }
    .main-perfil{
        padding-top: 120px;
    }
    .contenedor-principal{
        gap: 20px;
    }
    .contenedor-perfil{
        grid-template-columns: 200px 1fr;
        border: 2px solid orange;
        border-radius: 15px;
    }
    .foto{
        padding: 20px;
    }
    .foto-perfil{
        width: 130px;
        height: 130px;
        border: 3px solid orange;
    }
    .descripcion-perfil{
        padding: 20px;
        gap: 8px;
    }
    .nombre-usuario{
        font-size: 20px;
    }
    .descripcion-perfil p{
        font-size: 0.9rem;
    }
    .info-perfil{
        padding: 15px 20px;
    }
    .perfil-part2{
        min-height: 200px;
        border: 2px solid orange;
        border-radius: 15px;
    }
    .nav-card{
        padding: 15px;
        border-bottom: 1px solid rgb(69, 69, 68);
    }
    .nav-card:hover{
        border-bottom: 1px solid gold;
    }
    .contenedor-cartas-obtenidas{
        min-height: 200px;
        padding: 20px;
    }
}

/* ---------------------------*/
/* ------CELULARES----------- */
/* ----------------------------*/
@media screen and (max-width: 500px){
    .barra-nav{
        margin: 0.5rem auto;
        padding: 0.8em 1em;
        border-width: 1px;
    }
    .logo img{
        width: 35px;
        height: 25px;
    }
    .nav-links{
        gap: 15px;
    }
    .nav-links li{
        padding-right: 1em;
    }
    .nav-links a{
        font-size: 0.75rem;
    }
    .main-perfil{
        padding-top: 9em;
    }
    .contenedor-principal{
        gap: 15px;
    }
    .contenedor-perfil{
        grid-template-columns: 0.5fr 1fr;
        border: 1px solid orange;
        border-radius: 10px;
    }
    .foto{
        padding: 0.9em;
    }
    .foto-perfil{
        width: 100%;
        height: 110px;
        border: 2px solid orange;
    }
    .descripcion-perfil{
        padding: 1em;
        gap: 5px;
    }
    .nombre-usuario{
        font-size: 17px;
    }
    .info-perfil{
        padding: 1em;
    }
    .perfil-part2{
        min-height: 100px;
        border: 1px solid orange;
        border-radius: 10px;
    }
    .nav-card{
        padding: 10px;
    }
    .contenedor-cartas-obtenidas{
        min-height: 100px;
        padding: 15px;
    }
}