*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- BODY ---*/

body{
    width: 100%;
    min-height: 100vh;

    background-image: url(../img/fondo4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;

    font-family: Arial, Helvetica, sans-serif;
}

/* --------- HEADER ---------------- */

header{
    background-color: rgba(0, 0, 0, 0.441);
}
.barra-nav{
    width: 95%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 25px;
    background: rgba(0, 0, 42, 0.712);
    border: 2px solid rgba(255, 166, 0, 0.7);
    box-shadow: 0 0 20px rgba(255, 166, 0, 0.4);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    z-index: 1000;
}
/* LOGO */
.logo img{
    width: 70px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px orange;
}
/* LINKS */
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
/* ITEMS */
.nav-links li{
    padding-right: 30px;
    border-right: 1px solid rgba(255,255,255,0.2);
}
/* LINKS */
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.3s;
}
.nav-links a:hover{
    color: gold;
    text-shadow: 0 0 10px gold;
    transform: translateY(-2px);
}
.activo{
    color: gold;
    border-bottom: 3px solid gold;
    padding-bottom: 5px;
    text-shadow: 0 0 10px gold;
}
/* ---------------- MAIN ---------------- */
main{
    min-height: 100vh;
    padding-top: 140px;
    display: grid;
    grid-template-columns: 280px 1fr 350px;
    gap: 30px;
    width: 90%;
    margin: auto;
}
.contenedor-editar{
    display: flex 
}
/* ---------------- NAV PERFIL ---------------- */
.nav-perfil{
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 102, 255, 0.5);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
/* FOTO PERFIL */
.foto-perfil{
    width: 100%;
    text-align: center;
}
.foto-perfil img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(0, 102, 255);
    box-shadow: 0 0 20px rgba(0, 102, 255, 0.7);
}
figcaption{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 153, 255);
}
/* LISTA PERFIL */
.lista-perfil{
    width: 100%;
}
.lista-perfil ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.lista-perfil li{
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.03);
    transition: 0.3s;
}
.lista-perfil li:hover{
    background-color: rgba(0, 102, 255, 0.3);
    transform: translateX(5px);
}
.link-activo{
    border: 2px solid rgb(0, 102, 255);
    background-color: rgba(0, 102, 255, 0.25);
    color: rgb(0, 174, 255);
}
/* ---------------- INFO PERFIL ---------------- */
.info-perfil{
    display: flex;

    flex-direction: column;

    gap: 25px;
}

/* TITULO */

.titulo-central{
    padding: 25px;

    border-radius: 20px;

    background-color: rgba(0,0,0,0.7);

    border: 2px solid rgba(0, 102, 255, 0.5);

    font-size: 32px;

    font-weight: bold;

    letter-spacing: 2px;

    color: rgb(0, 174, 255);

    text-align: center;

    backdrop-filter: blur(5px);
}

/* FORM */

.datos-usuarios{
    display: flex;

    justify-content: center;
}

form{
    max-width: 1000px;
    width: 100%;
    padding: 0 40px;
}
fieldset{
    border: 2px solid rgba(0, 102, 255, 0.5);
    border-radius: 20px;
    padding: 35px;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 60px;
}

legend{
    padding: 0 15px;
    font-size: 24px;
    color: rgb(0, 174, 255);
    font-weight: bold;
}
input,select,textarea{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    background-color: rgba(255,255,255,0.05);
    color: white;
    transition: 0.3s;
}input:focus,select:focus,textarea:focus{
    border: 2px solid rgb(0, 132, 255);
    box-shadow: 0 0 10px rgba(0, 132, 255, 0.6);
}
textarea{
    min-height: 150px;
    grid-column: 1 / 3;
}
input[type="submit"]{
    grid-column: 1 / 3;
    background: linear-gradient(90deg, rgb(0, 89, 255),  rgb(0, 174, 255));
    font-size: 18px;
    border: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(0, 132, 255, 0.7);
}

/* ---------------- CAJA DERECHA ---------------- */
.caja-vacia{
    border-radius: 20px;

    background-image: url(../img/vegeta-blue-wallpaper.png);

    background-size: cover;
    background-position: center;

    border: 2px solid rgba(0, 102, 255, 0.5);

    box-shadow: 0 0 20px rgba(0, 102, 255, 0.3);

    min-height: 700px;
}

/* ---------------- TABLET ---------------- */

@media screen and (max-width:1000px){

    main{
        grid-template-columns: 200px 3fr;

        width: 95%;
    }

    .caja-vacia{
        min-height: 400px;
    }

}

/* ---------------- CELULAR ---------------- */

@media screen and (max-width:600px){

    .barra-nav{
        padding: 10px 15px;
    }

    .logo img{
        width: 45px;
        height: 35px;
    }

    .nav-links{
        gap: 10px;
    }

    .nav-links li{
        padding-right: 10px;
    }

    .nav-links a{
        font-size: 12px;
    }

    main{
        padding-top: 120px;
    }

    fieldset{
        grid-template-columns: 1fr;

        padding: 20px;
    }

    textarea{
        grid-column: auto;
    }

    input[type="submit"]{
        grid-column: auto;
    }

    .titulo-central{
        font-size: 24px;
    }

    .foto-perfil img{
        width: 130px;
        height: 130px;
    }

}