/* ----------------------------------------FORMATO BASICO DE LA CARTA--------------------------------------------------------------------- */
.card{ 
    display: grid; /*grid para superposicionar elementos*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 15rem;

    border-radius: 1rem;
    box-shadow: .3rem .3rem 1rem black;
    background-color: #555555; /*fondo por si falla la imagen*/

    transition-duration: 250ms;/*transición para la animación de hover*/
}
.card img { /*imagen de la carta*/
    border-radius: 1rem;
    max-width: 100%;/*que el maximo ancho de la imagen de la carta sea el ancho de la misma*/
    aspect-ratio: 5 / 9;/*el mismo aspect ratio de la carta*/
    
    grid-column: 1;/*para superponer la imagen con el resto de elementos*/
    grid-row: 1 / 2;
}
.card h4 { /*header de la carta*/
    grid-column: 1; /*superposición*/
    grid-row: 1 / 2;
    z-index: 1; /*para traer al frente al header card*/
    padding:  .4rem;
    padding-left: .8rem;
    height: min-content;
    
    text-shadow: .1rem .1rem .5rem #1a1a1a;
    font-weight: normal;
    background-color: #00bfff76;
    color: white;
    border-radius: 1rem 1rem 0 0; /*igualar con el borde redondeado de la card*/
}
.card .favorito-img { /*icono de carta favorita*/
    z-index: 2;/*para traer el icono por encima del card header*/
    margin: .4rem;
    width: 3rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;/*para que no recorte la imagen*/
    justify-self: flex-end;
}
.card ul { /*wrapper de las tags de las cartas*/
    display: none;/*que se oculte hasta el hover*/
}

.card:hover {
    transform: scale(1.1);/*que se agrande la carta x1.1 veces*/
}
.card:hover ul { /*wrapper de las tags de las cartas*/
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    grid-column: 1;/*que se superponga con los demas elementos de la carta*/
    grid-row: 1 / 2;
    align-self: flex-end;

    height: 35%;
    background-color: #5555556d;
    border-radius: 0 0 1rem 1rem;
    
}
.card ul li { /*tags de las cartas*/
    padding: .2rem;
    margin: .1rem;
    width: max-content;

    background-color: #ffa600;
    color: darkslategrey;
}