/* ------------LANDING------------- */
#landing {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
}
#texto-landing {
    color: yellow;
    padding: 50px 10vw ;
    width: 50vw;
    text-align: left;
}
#boton-landing {
    position: relative;
    padding: 1em;
    border: none;
    top: 2em;
    left: 10%;
}
#baraja-personal {
    width: 80%;
    background-color: black;
    height: 20em;
    margin: 1.5em 0;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
#baraja-personal article{
    background-color: crimson;
    width: 80%;
    height: 90%;
    border-radius: 1em;
}