*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
/* -----------HEADER------------- */
header{
    background-color: rgba(0, 0, 0, 0.441);    
}
/* NAVBAR */
.barra-nav{
    width: 95%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 25px;
    background: rgba(80, 0, 0, 0.65);
    border: 2px solid rgba(255, 166, 0, 0.7);
    box-shadow: 0 0 20px rgba(255, 166, 0, 0.4);

    position: fixed;
    width: 100%;
    z-index: 1000;
}
/* LOGO */
.logo img{
    width: 70px;
    height: 50px;
    border-radius: 50%;
    box-shadow:
    0 0 15px orange;
}
/* LINKS */
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
/* ITEMS */
.nav-links li{
    padding-right: 30px;
    border-right: 1px solid rgba(255,255,255,0.2);
}
/* LINKS */

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.3s;
}
/* HOVER */
.nav-links a:hover{
    color: gold;
    text-shadow:0 0 10px gold;
    transform: translateY(-2px);
}
/* LINK ACTIVO */
.activo{
    color: gold;
    border-bottom: 3px solid gold;
    padding-bottom: 5px;
    text-shadow: 0 0 10px gold;
}
/* ---------------MAIN----------------- */
.main-album{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.441);    
}
.contenedor-card{
    width: 80%;
    min-height: 70vh;
    background-color: rgba(6, 6, 6, 0.467);
    flex: 1;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid rgb(205, 154, 0);
    border-radius: 20px;
    
}
.titulo-album{
    text-align: center;
    font-size: 50px;
    font-family: "Rajdhani";
    color: rgb(205, 154, 0);
    padding: 0 30px;
    background-color: rgba(6, 6, 6, 0.467);
    border: 2px solid rgb(205, 154, 0);


}
footer{
    width: 100%;
    height: 150px;
    background: rgba(80, 0, 0, 0.821);
    border-top: 2px solid rgba(255, 166, 0, 0.7);

}
