/*Paleta de colores*/
:root{
    --naranja:#ff7b00;
    --naranja-transparente: rgba(255, 165, 0, 75%);
    --azul:#1E90FF;
    --blanco:#fff;
    --negro:#000;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/goku-en-paisaje-de-atardecer.jpg);
    background-size: cover;
}

/* ----------- HEADER ----------- */
header{
    background-color: rgba(0, 0, 0, 0.441);
}
/* NAVBAR */
.barra-nav{
    width: 95%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 25px;
    background: rgba(80, 0, 0, 0.65);
    border: 2px solid rgba(255, 166, 0, 0.7);
    box-shadow: 0 0 20px rgba(255, 166, 0, 0.4);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    
    z-index: 1000;
}
/* LOGO */
.logo img{
    width: 70px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px orange;
}
/* LINKS */
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
/* ITEMS */
.nav-links li{
    padding-right: 30px;
    border-right: 1px solid rgba(255,255,255,0.2);
}
/* LINKS */
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.3s;
}
/* HOVER */
.nav-links a:hover{
    color: gold;
    text-shadow: 0 0 10px gold;
    transform: translateY(-2px);
}
/* LINK ACTIVO */
.activo{
    color: gold;
    border-bottom: 3px solid gold;
    padding-bottom: 5px;
    text-shadow: 0 0 10px gold;
}
/*Contenido principal/formulario */

main{
    height: 100vh;
    display: grid;
    place-items: center;
}
.formulario{
    background-color: var(--naranja);
    background-color:var(--naranja-transparente);
    width: 400px;
    height: 330px;
    padding: 30px 40px 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(80, 0, 0),
                0 0 20px rgb(146, 3, 3)
}

h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.campo{
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
}

.boton-crear-cuenta{
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
    background-color: var(--negro);
    font-size: large;
}

.boton-crear-cuenta a{
    color: var(--blanco);
    text-decoration: none;
}

.boton-crear-cuenta:hover{
    background-color: var(--azul);
}
