.body-index{
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* ---------HEADER--------- */
.header-index{
    background: linear-gradient(#f9841e, #ffde0b);
    width: 100%;
    height: 50px;
}
.lista-header{
    margin: 0;
    padding: 15xp;
}
/* ------------MAIN------------- */
main{
    flex:1;
}
.contenedor-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: burlywood;
}

/* -------------FOOTER----------------- */
footer{
    background-color: indianred;
    width: 100%;
    height: 50px;
}






















