/* CARTA */
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}
.card{
    margin: 50px;
    width: clamp(170px,20vw,250px);
    aspect-ratio: 1 / 2;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    justify-content: space-between;

    position: relative;

}
.card:hover{
     transform: scale(1.06);  
} 
.header-card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    box-sizing: border-box;
    padding: 0 3px;
    align-items: center;
    font-family: "Orbitron";

    position: relative;
    z-index: 2;
}
.atributos{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: bold;
    padding: 2px 0;


    position: relative;
    z-index: 2;
}
/* CARTA PARTE DELANTERA */
.img-card-fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    position: absolute;
    z-index: 1;
}
.img-logo{
    width: 80px;
    height: 100%;
}
.footer-card{
    text-align: center;
}
.nombre-card{
    background-color: transparent;
    height: 150px;
    width: 100%;
    position: relative;
    z-index: 2;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.514);
}
.nombre-card span{
    font-size: 13px;
}
/* CARTA PARTE TRASERA */
.card-img{
    height: 45%;
    background-color: orangered;
}
.card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top: 3.5px solid black;
 
}
.card-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-top: 3.5px solid black;

}
.descripcion{
    flex:1;
    text-align: justify;
    object-fit: cover;
    padding: 10px 10px;
}

/*---- -------------------ESTILOS----------------------------------- */
/* LEGENDARY */
.card.legendary{
    box-shadow: 0 0 20px yellow,
                0 0 20px gold,
                0 0 20px orange;
}
.header-card.legendary{
    background-color: rgba(252, 226, 28, 0.523);
}
.nombre-card.legendary h1{
    color: yellow;
    font-style: italic;
}
.nombre-card.legendary span{
    color: yellow;
}
.atributos.legendary{
    background-color: rgb(199, 130, 3);
}
.card-body.legendary{
    background-color: orange;
}
/* EPICA */
.card.epica{
    box-shadow:0 0 20px blueviolet,
    0 0 20px violet,
    0 0 20px darkorchid;
}
.header-card.epica{
    background-color: rgba(132, 34, 224, 0.562);
}
.nombre-card.epica h1{
    color: rgb(207, 167, 244);
}
.nombre-card.epica span{
    color: rgb(210, 167, 250);
}
.atributos.epica{
    background-color: blueviolet;
}
.card-body.epica{
    background-color: rgb(160, 16, 222);
}
/* GUERRERO */
.card.guerrero{
    box-shadow: 0 0 20px blue,
                0 0 20px rgb(10, 10, 175),
                0 0 20px rgb(82, 111, 205);
}
.header-card.guerrero{
    background-color: rgba(0, 0, 255, 0.468);
}
.nombre-card.guerrero h1{
    color: rgb(43, 43, 255);
}
.nombre-card.guerrero span{
    color: rgb(61, 61, 218);
}
.atributos.guerrero{
    background-color: blue;
}
/* DIVINO */
.card.divino{
    box-shadow: 0 0 20px rgb(18, 144, 138),
                0 0 20px rgb(20, 236, 182),
                0 0 20px rgb(31, 94, 183) ;
}
.header-card.divino{
    background-color: rgba(30, 221, 235, 0.612);
}
.nombre-card.divino h1{
    color: rgb(61, 244, 198);
}
.nombre-card.divino span{
    color: rgb(62, 255, 207);
}
.atributos.divino{
    background-color: rgb(41, 202, 234);
}
.card-body.divino{
    background-color: rgba(30, 221, 235, 0.612);
}
/* ANGEL */
.card.angel{
    box-shadow: 0 0 20px white,
                0 0 20px white,
                0 0 20px white;
}
.header-card.angel{
    background-color: rgba(255, 255, 255, 0.832);
}
.nombre-card.angel h1{
    color: rgb(249, 227, 227);
}
.nombre-card.angel span{
    color: rgb(250, 235, 235);
}
.atributos.angel{
    background-color: white;
}
/* DIOS */
.card.dios{
    box-shadow: 0 0 20px red,
                0 0 20px orangered,
                0 0 20px darkred;
}
.header-card.dios{
    background-color: rgb(236, 29, 29);
}
.nombre-card.dios h1{
    color: rgb(245, 53, 53);
}
.nombre-card.dios span{
    color: rgb(218, 45, 45);
}
.atributos.dios{
    background-color: rgb(130, 2, 2);
}
.card-body.dios{
    background-color: rgb(241, 22, 22);
}
/* NAMEKIANO */
.card.namekiano{
    box-shadow: 0 0 20px green,
                0 0 20px greenyellow,
                0 0 20px lightgreen;
}
.header-card.namekiano{
    background-color: rgba(12, 247, 12, 0.648);
}
.nombre-card.namekiano h1{
    color: rgb(10, 232, 10);
}
.nombre-card.namekiano span{
    color: rgb(10, 232, 10);
}
.atributos.namekiano{
    background-color: rgb(16, 183, 16);
}
.card-body.namekiano{
    background-color: rgba(12, 247, 12, 0.648) ;
}
/* MAJIN */
.card.majin{
    box-shadow: 0 0 30px rgb(240, 35, 69),
                0 0 30px rgb(229, 41, 104),
                0 0 30px rgb(215, 54, 215);
}
.header-card.majin{
    background-color: rgba(229, 41, 104, 0.611);
}
.nombre-card.majin h1{
    color: rgb(239, 32, 101);
}
.nombre-card.majin span{
    color: rgb(253, 32, 106);
}
.atributos.majin{
    background-color: palevioletred;
}


