.body-index{
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* ---------HEADER--------- */
.header-index{
    background: linear-gradient(#f9841e, #ffde0b);
    width: 100%;
    height: auto;
}
.items-navbar{
    margin: 0 9vw;
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}
.items-navbar li {
    padding: 0.8em;
}
.items-navbar li a {
    text-decoration: none;
}
/* ------------MAIN------------- */
main{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color:#f9841e;
    align-items: center;
}
.contenedor-cards{
    justify-content: center;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: burlywood;
    width: 80%;
    height: auto;


}

/* -------------FOOTER----------------- */
footer{
    background-color: indianred;
    width: 100%;
    height: 50px;
}






















